<h1>Coupon Form<h1>
<%=form_tag coupons_path do%>
<label for="store" name="coupon[store]">Store:</label>
<%= text_field_tag :"coupon[store]"%><br>
<label for="coupon_code" value="coupon[coupon_code]">Coupon Code:</label>
<%= text_field_tag :"coupon[coupon_code]"%>
<%= submit_tag 'Submit Coupon'%>
<%end%>